---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<div class="wordwrap">
You can also find my articles on 
<a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}

{% if site.publication_category %}

  {% for category in site.publication_category %}

    {% assign posts_in_category = pubs | where: "category", category[0] %}

    {% if posts_in_category.size > 0 %}

      <h2>{{ category[1].title }}</h2>
      <hr />

      {% for post in posts_in_category %}
        {% include archive-single.html %}
      {% endfor %}

    {% endif %}

  {% endfor %}

{% else %}

  {% for post in pubs %}
    {% include archive-single.html %}
  {% endfor %}

{% endif %}
